[submodule "rustlings"]
	path = rustlings
	url = git@github.com:chenhzhu/infinitensor-rustling.git
[submodule "learning-cxx"]
	path = learning-cxx
	url = git@github.com:chenhzhu/learning-cxx.git
[submodule "learning-lm-rs"]
	path = learning-lm-rs
	url = git@github.com:chenhzhu/learning-lm-rs.git
